<div class="container" *ngIf="isShow">
    <div class="card">
       <div class="row">
          <aside class="col-sm-5 border-right">
             <article class="gallery-wrap">
                <div class="img-big-wrap">
                   <div><img [src]="bookPhoto"></div>
                </div>
             </article>
   
          </aside>
          <aside class="col-sm-7">
             <article class="card-body p-5">
               <div *ngIf="message" class="alert alert-primary" role="alert">
                 {{ message }}
               </div>
                <h3 class="title mb-3">{{ book.name }} - {{book.auteur}}</h3>
                <p class="price-detail-wrap"> 
                   <span class="price h3 text-warning"> 
                   <span class="currency"></span><span class="num"> € {{ book.price}}</span>
                   </span> 
                   <span> / le livre</span> 
                </p>
                <!-- price-detail-wrap .// -->
                <dl class="item-property">
                   <dt>Déscription</dt>
                   <dd>
                      <p>{{ book.description}}
                      </p>
                   </dd>
                </dl>
                <dl class="param param-feature">
                   <dt>Code catégorie</dt>
                   <dd>{{ book.type }}</dd>
                </dl>
                <!-- item-property-hor .// -->
                <hr>
                <div class="row">
                   <div class="col-sm-5">
                      <dl class="param param-inline">
                         <dt>Quantité: </dt>
                         <div *ngIf="book.quantite == 0; else stock" class="text-danger">
                            En rupture
                         </div>
                         <ng-template #stock>
                            <div class="text-success">En stock</div>
                         </ng-template>
                         <dd>
                            <select [(ngModel)]="quantite" class="form-control form-control-sm" style="width:70px;">
                               <option *ngFor="let i of maxCommand" [value]=i> {{ i }} </option>
                            </select>
                         </dd>
                      </dl>
                      <!-- item-property .// -->
                   </div>
                   <!-- col.// -->
                </div>
                <!-- row.// -->
                <hr>
                <button (click)="buyNow()" class="btn btn-primary text-uppercase"> Acheter Maintenant </button>&nbsp;
                <button (click)="addTocart()" class="btn btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i>Ajouter au panier </button>
             </article>
             <!-- card-body.// -->
          </aside>
          <!-- col.// -->
       </div>
       <!-- row.// -->
    </div>
    <!-- card.// -->
 </div>
 
 