<div class="top_bar">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-row">
                <div class="top_bar_contact_item">
                    <div class="top_bar_icon"><img src="assets/phone.png" alt=""></div>+ 04 11 11 11 11
                </div>
                <div class="top_bar_contact_item">
                    <div class="top_bar_icon"><img src="assets/mail.png" alt=""></div><a href="veromaiga@gmail.com">booksales@sales.com</a>
                </div>
                <div class="top_bar_content ml-auto">
                    <div class="top_bar_menu">
                        <ul class="standard_dropdown top_bar_dropdown">
                            <li> <a href="#">Euro<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">Dollar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="top_bar_user">
                        <div class="user_icon"><img src="assets/user.svg" alt=""></div>
                        <div (click)="onCreateAccount()" style="cursor: pointer;"><a>Compte</a></div>
                        <div (click)="onConnexion()" style="cursor: pointer;"><a>Connexion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  