<div class="container">
    <div>
        <div class="row" *ngIf="isCategorie">
            <div class="col-3 card" *ngFor="let categorie of categories">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Allez vite découvrir nos cat&eacute;gories!</p>
                    <a href="#" class="btn btn-primary">{{ categorie.name }}</a>
                  </div>
                </div>
          </div>      
    </div>
</div>