<div class="row" *ngIf="isShow">
    <div class="col-md-3" *ngFor="let book of produits ">
       <div class="card card-product">
          <div class="img-wrap"> 
             <img *ngIf="book" [src]="book.photo">
          </div>
          <div class="info-wrap">
             <h6 class="title text-dots"><a>{{book.name}} - {{book.auteur}}</a></h6>
             <div class="action-wrap" style="cursor: pointer;" (click)="onGoToShowDetail(book)">
                <button class="btn btn-primary btn-sm float-right">Voir plus</button>
                <div class="price-wrap h5">
                   <span class="price-new">€ {{ book.price }}</span>
                </div>
             </div>
          </div>
       </div>
    </div>
    
    