<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
      <!-- register Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="prenom">
        <input type="text" id="passwordconfirm" class="fadeIn third" name="login" placeholder="nom">       
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="mot de passe">
        <input type="text" id="passwordconfirm" class="fadeIn third" name="login" placeholder="confirmation mot de passe">       
        <input type="submit" class="fadeIn fourth" value="Connexion">
      </form>
    </div>
  </div>