<nav class="main_nav">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main_nav_content d-flex flex-row">
                    <!-- Categories Menu -->
                    <!-- Main Nav Menu -->
                    <div class="main_nav_menu">
                        <ul class="standard_dropdown main_nav_dropdown">
                            <li><a href="#">Acceuil<i class="fas fa-chevron-down"></i></a></li>
                            <li class="hassubs"> <a  routerLink = "/categorie">Catégories<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li> <a href="#">Catégorie1<i class="fas fa-chevron-down"></i></a>
                                    </li>
                               </ul>
                            </li>
                            <li class="hassubs"> <a href="#">Marques<i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li> <a href="#">marque1<i class="fas fa-chevron-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="hassubs"> <a href="#">Produits<i class="fas fa-chevron-down"></i></a>
                            <li><a>Contact<i class="fas fa-chevron-down"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav> <!-- Menu -->