<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
      </div>
      <div *ngIf="response" id="formFooter">
        <a [ngClass]="response.resultat == '1'? 'text-success' : 'text-danger'">{{ response.message }}</a>
      </div>
      <!-- register Form -->
      <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
        <input type="text" required class="fadeIn second" formControlName="login" placeholder="login">
        <input type="text" required class="fadeIn third" formControlName="prenom" placeholder="prenom">
        <input type="text" required class="fadeIn third" formControlName="nom" placeholder="nom">       
        <input type="password" required minlength="4" class="fadeIn third" formControlName="password" placeholder="mot de passe">
        <input type="password" required minlength="4"class="fadeIn third" formControlName="confirm" placeholder="confirmation mot de passe">       
        <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary btn-block">Valider</button>
      </form>
    </div>
  </div>